---
interface Props {
  datetime: Date
  size?: 'sm' | 'lg'
}

const { datetime, size = 'sm' } = Astro.props

const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
const d = new Date(datetime)
const formatted = `${d.getDate()} ${months[d.getMonth()]}, ${d.getFullYear()}`
---
<div class="flex items-center gap-2 opacity-80">
  <svg class:list={["inline-block", size === 'sm' ? "w-4 h-4" : "w-5 h-5"]} fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
  </svg>
  <time datetime={datetime.toISOString()} class:list={["text-sm italic", size === 'lg' && "sm:text-base"]}>
    {formatted}
  </time>
</div>
