---
import Datetime from './Datetime.astro'
import { getReadingTime } from '../lib/utils'
import { url } from '../config'

interface Props {
  slug: string
  title: string
  pubDatetime: Date
  description?: string
  body: string
}

const { slug, title, pubDatetime, description, body } = Astro.props
const readingTime = getReadingTime(body)
---
<article style="margin-bottom: 1.5em;">
  <a
    href={url(`/${slug}`)}
    class="action-list-item"
  >
    <figure class="action-list-icon">⭢</figure>
    <span class="action-list-text">{title}</span>
  </a>
  <div style="padding: 0.5em 0 0;">
    <div style="display: flex; align-items: center; gap: 0;">
      <Datetime datetime={pubDatetime} />
      <span style="margin-left: 1ch;">• {readingTime}</span>
    </div>
    {description && <p style="margin-top: 0.25em;">{description}</p>}
  </div>
</article>
